@model Quizgame.Models.QuestionShow
<hr />
@Html.HiddenFor(model=>model.ArticleId)
@Html.HiddenFor(model=>model.QuestionId)
<div>
    <b>
      @Model.Question
    </b>
</div>          
@Html.HiddenFor(model => model.Answers)
<hr/>
@foreach(var answer in Model.Answers)
{

    <label>
        @Html.RadioButtonFor(m => m.SelectedAnswerId, answer.AnswerId)
        @answer.Answer
    </label>


    @* <label>
        @* @Html.RadioButtonFor(@Model.SelectedAnswerId, @answer.AnswerId) 
        @Html.RadioButton("Question_" + @Model.QuestionId.ToString(), @answer.AnswerId) @answer.Answer
        @* <input type="radio" name="Question_@Model.QuestionId" value="@answer.AnswerId"/>
        @answer.Answer 
    </label> *@
    <br/>
}